h1 {
    color: blueviolet;
    text-align: center;
}
.div-form-style {
    background-color: lightgray;
    border: 5px solid darkblue;
    border-radius: 10px;
}
.form-style {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form-style > * {
    margin: 5px;
    padding: 5px
}
.submit-btn {
    width: 50%;
    background-color: aqua;
    margin: 5px;
    border-radius: 10px;
    align-self: center;
}

.submit-btn:hover {
    background-color: blue;
}