* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("background.jpg") no-repeat center fixed;
    background-size: cover;
}

h1 {
    color: blueviolet;
    text-align: center;
}
.div-form-style {
    background-color: lightgray;
    border: 5px solid darkblue;
    border-radius: 10px;
}
.form-style {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.form-style > * {
    margin: 5px;
    padding: 5px
}
.submit-btn {
    width: 50%;
    background-color: aqua;
    margin: 5px;
    border-radius: 10px;
    align-self: center;
}

.submit-btn:hover {
    background-color: blue;
}

#recipe-card {
    background-color: lightgray;
    border: 5px solid darkblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    padding: 5px;
}
#recipe-description {
    font-style: italic;
}
#recipe-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.p-3 {
    padding: 3px;
}