{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block body %}
    <div id="recipe-container">
        {% if new_recipe is defined %}
        {% for item in new_recipe %}
        <div id="recipe-card">
            <h2 id="recipe-name"> {{ item.name }} </h2>
            <div id="recipe-description" class="p-3">{{ item.description }}</div>
            <div class="p-3">Find it here: </div>
            <div class="p-3"><a href={{item.url}} target="blank">{{ item.url }}</a></div>
          
            <div class="p-3">Posted by: {{ item.user }}</div>
        </div>
        {% endfor %}
        {% else %}
            {{ name }}
        {% endif %}
    </div>
{% endblock %}
