<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Family Faves: {% block title %}{% endblock%}</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1><a href="/">Family Faves</a></h1>
        <nav>
            <ul>
            {% if session["user_id"] %}
                <li class="nav-li"><a class="nav-link" href="/">Dashboard</a></li>
                <li class="nav-li"><a class="nav-link" href="/new-recipe">New Recipe</a></li>
                <li class="nav-li"><a class="nav-link" href="/random">Feeling Lucky?</a></li>
                <li class="nav-li"><a class="nav-link" href="/logout">Log Out</a></li>
            {% else %}
                <li class="nav-li"><a class="nav-link" href="/login">Log In</a></li>
                <li class="nav-li"><a class="nav-link" href="/signup">Sign Up</a></li>
            {% endif %}
            </ul>
        </nav>
    </header>
    {% block body %}{% endblock %}
</body>
</html>